# âœ… Day 9: Pandas Advanced â€“ Grouping, Aggregation, Merging

In [1]:
import pandas as pd

# Sample DataFrame

In [2]:
data = {
    'Department': ['Sales', 'Sales', 'HR', 'HR', 'IT', 'IT'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'Salary': [50000, 60000, 45000, 47000, 70000, 75000]
}

df = pd.DataFrame(data)
print(df)

  Department Employee  Salary
0      Sales    Alice   50000
1      Sales      Bob   60000
2         HR  Charlie   45000
3         HR    David   47000
4         IT      Eve   70000
5         IT    Frank   75000

#  GroupBy Example

In [3]:
grouped = df.groupby('Department')['Salary'].mean()
print("Average Salary by Department:\n", grouped)

Average Salary by Department:
 Department
HR       46000.0
IT       72500.0
Sales    55000.0
Name: Salary, dtype: float64

# Aggregation Example

In [4]:
agg_result = df.groupby('Department').agg({
    'Salary': ['mean', 'max', 'min']
})
print("Aggregated Salary Stats:\n", agg_result)

Aggregated Salary Stats:
              Salary
               mean    max    min
Department
HR          46000.0  47000  45000
IT          72500.0  75000  70000
Sales       55000.0  60000  50000

#  Merging Two DataFrames

In [5]:
dept_info = pd.DataFrame({
    'Department': ['Sales', 'HR', 'IT'],
    'Location': ['New York', 'Chicago', 'San Francisco']
})

merged_df = pd.merge(df, dept_info, on='Department')
print("Merged DataFrame:\n", merged_df)

Merged DataFrame:
   Department Employee  Salary       Location
0      Sales    Alice   50000       New York
1      Sales      Bob   60000       New York
2         HR  Charlie   45000        Chicago
3         HR    David   47000        Chicago
4         IT      Eve   70000  San Francisco
5         IT    Frank   75000  San Francisco

# ðŸŽ¯ Mini Task
Create a DataFrame with employees, department, and sales.

Group by department and find total sales.

Create a second DataFrame with department and region.

Merge both on department.

In [6]:
import pandas as pd

# Create DataFrame with employees, department, and sales
df1 = pd.DataFrame({
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'Department': ['Sales', 'Sales', 'HR', 'HR', 'IT', 'IT'],
    'Sales': [200, 250, 150, 180, 300, 320]
})
print("DataFrame 1:\n", df1)

print("______________________________")

# Group by department and find total sales
total_sales = df1.groupby('Department')['Sales'].sum()
print("Total Sales by Department:\n", total_sales)

print("______________________________")

# Create second DataFrame with department and region
df2 = pd.DataFrame({
    'Department': ['Sales', 'HR', 'IT'],
    'Region': ['East', 'West', 'North']
})
print("DataFrame 2:\n", df2)

print("______________________________")

# Merge both on department
merged = pd.merge(df1, df2, on='Department')
print("Merged DataFrame:\n", merged)

DataFrame 1:
   Employee Department  Sales
0    Alice      Sales    200
1      Bob      Sales    250
2  Charlie         HR    150
3    David         HR    180
4      Eve         IT    300
5    Frank         IT    320
______________________________
Total Sales by Department:
 Department
HR       330
IT       620
Sales    450
Name: Sales, dtype: int64
______________________________
DataFrame 2:
   Department Region
0      Sales   East
1         HR   West
2         IT  North
______________________________
Merged DataFrame:
   Employee Department  Sales Region
0    Alice      Sales    200   East
1      Bob      Sales    250   East
2  Charlie         HR    150   West
3    David         HR    180   West
4      Eve         IT    300  North
5    Frank         IT    320  North